* {
  margin: 0px;
  padding: 0px;
}

h1, h3 {
  text-align: center;
  margin-top: 30px;
}

#container {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  align-items: center;
gap: 10px;
}
form > * {
  width: 50%;
  height: 30px;
}

form > input[type='submit']{
  width: 15%;
  margin: 5px 0;
}
